[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
gym = "*"
ipykernel = "*"
tensorflow = "==1.14.0"
stable-baselines = "*"
protobuf = "==3.20."
stable-baselines3 = "*"

[requires]
python_version = "3.7.0"

[pipenv]
allow_prereleases = true
