[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
gym = "*"
ipykernel = "*"
stable-baselines = "*"
protobuf = "==3.20."
stable-baselines3 = "*"
onnx = "==1.9"
onnx-tf = "==1.8"
tensorflow = "==1.15"
tensorflow-addons = "==0.13"
torch = "==1.8.1"
jupyter = "*"
pyzmq = "==19.0.2"
pylatex = "*"

[requires]
python_version = "3.7.0"

[pipenv]
allow_prereleases = true
